.main {
  background-color: #dfdfdf;
  height: 100vh;
  .container {
    .application-title {
      color: #219f59;
    }
    background: #ffffff;
    .table-container {
      padding: 5px;
      .toolbar {
        .button-container {
          button {
            padding: 0.5rem 1rem;
            margin: 0 5px;
          }
        }
      }
      .headers {
        th {
          text-align: center;
        }
      }
      .actions {
        display: flex;
      }
      .no-tabs-options {
        background-color: #f1f1f1;
        text-align: center;
        color: #707070;
      }
    }
  }
}